//--------------------------------------------------------------------------
//  Базовые стили
//--------------------------------------------------------------------------


html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: $body-bg;
  color: $text-color;
	font-family: $font-family;
  font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $link-color--hover;
  }
}

h2 {
  font-family: $font-family;
	font-size: 36px;
}
h3 {
  font-family: $font-family;
	font-size: 24px;
}
h4 {
  font-family: $font-family;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.mdl-button,
.mdl-textfield__input {
  font-family: $font-family;
}

.absolute-center {
  @include absolute-center;
}

.text-bold {
  font-weight: 700;
}

.page-main {
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mdl-button--border {
  border-width: 1px;
  border-style: solid;
}

