//------------------------------------------------------------------------------
//  Цвет
//------------------------------------------------------------------------------

$body-bg:                     #f5f8f9;
$text-color:                  #333;

$blue:												#007ee5;

$link-color:                  $blue;
$link-color--hover:           darken($link-color, 20%);

$light-gray:									rgba(0,0,0,.12);
$light-text:									rgb(191, 191, 191);


//------------------------------------------------------------------------------
//  Типографика
//------------------------------------------------------------------------------


$font-family:                  'Open Sans', Helvetica, Arial, sans-serif;
// $font-family--helvetica:      'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-family--serif:          Georgia, 'Times New Roman', Times, serif;
// $font-family--monospace:      Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-size:                   14px;
$font-weight:									400; // Regular
$line-height:                 1.2;


//------------------------------------------------------------------------------
//  Адаптивность и соответствующие ширины контейнера
//------------------------------------------------------------------------------

// $screen-xs:                   0;
// $screen-sm:                   480px;
// $screen-md:                   768px;
// $screen-lg:                   992px;
// $screen-xl:                   1200px;
