.login {
	&__body {
		width: 100%;
		min-height: 100vh;
		padding-top: 20vh;
		background: #a5c6cf url('../img/fullscreen_bg_image.jpg') no-repeat center/cover;
	}
	&__container {
		width: 500px;
		background-color: #fff;
		padding: 50px;
		padding-bottom: 40px;
		text-align: center;

		.mdl-textfield {
			width: 100%;
		}

		.mdl-button {
			width: 100%;
			font-weight: 700;
		}

	}
	&__title {
		margin: 0;
		padding-bottom: 30px;
		border-bottom: 1px solid $light-gray;
		margin-bottom: 40px;
	}
	&__text {
		color: $light-text;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media screen and ( max-width: 760px ) {
	.login__container {
		> form {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media screen and ( max-width: 600px ) {
	.login {
		&__body {
			background: none;
			padding: 0;
		}
		&__title {
			border: 0 none;
		}
		&__text {
			text-align: left;
		}
		&__container {
			position: relative;
			width: 100%;
			min-height: 100vh;
			box-shadow: none;
			border-radius: 0;

			> form {
				padding-left: 40px;
				padding-right: 40px;
				margin-bottom: 45px;
			}

			.mdl-button {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}

}