.profile {
	width: 100%;
	padding-top: 20px;
	&__top {
		text-align: right;
		padding-bottom: 15px;
		padding-right: 20px;
		.mdl-button {
			font-weight: 700;
		}
	}
	&__upload-img {
		text-align: center;
		> .mdl-button {
			color: #727e88;
			border-color: #d0dce7;
			text-transform: none;
			line-height: 33px;
		}
		.icon {
			color: #d0dce7;
			font-size: 29px;
			margin-right: 15px;
		}
	}
	&__middle {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		position: relative;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__middle-avatar {
		position: relative;
		width: 170px;
		box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.3);
		> img {
			width: 170px;
			height: 170px;
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	&__middle-info {
		flex-grow: 1;
		padding-left: 25px;
	}
	&__middle-name {
		margin-top: 0;
		margin-bottom: 10px;
	}
	&__middle-row {
		.icon {
			font-size: 27px;
			margin-right: 10px;
			width: 15px;
		}
	}
	&__middle-reviews {
		flex-shrink: 0;
		text-align: right;
		color: #727e88;
	}
	&__middle-reviews-star {
		font-size: 22px;
	}
	&__middle-reviews-cout {
		margin-left: 15px;
		margin-right: 15px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 215px;
		padding-right: 20px;
	}
	&__tabs-control {
		.mdl-button {
			position: relative;
			overflow: visible;
			height: 60px;
			line-height: 60px;
			padding: 0;
			margin-right: 20px;
			&.active-control::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $blue;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	&__follow {
		color: $light-text;
		line-height: 55px;
	}
	&__follow-action {
		font-size: 28px;
		color: inherit;
	}
	&__follow-count {
		margin-left: 15px;
		margin-right: 15px;
	}

}

.profile-info {
	width: 100%;
	margin-top: 40px;
	padding: 40px;
	min-height: 600px;

	&__title {
		color: #727e88;
		margin-top: 0;
		margin-bottom: 30px;
	}
	&__row {
		margin-bottom: 1px;
	}
	&__input-wrap {
		display: flex;
	}
	&__edit-icon {
		width: 33px;
		padding-left: 9px;
		font-size: 22px;
		line-height: 35px;
		text-align: center;
		background-color: $body-bg;
		color: #a8b8c4;
	}
	&__edit-value {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 12px;
		padding-right: 25px;
		background-color: $body-bg;
	}
	&__edit {
		position: relative;
		width: 45px;
		padding-top: 5px;
		background-color: #ecf1f5;
		font-size: 20px;
		text-align: center;
		> .icon {
			color: #727e88;
		}
		&:hover {
			background-color: $blue;
			> .icon {
				color: #fff;
			}
		}

	}
	&__edit-action {
		display: none;
		position: absolute;
		top: -10px;
		left: 0;
		width: 300px;
		padding: 20px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
		text-align: left;
		z-index: 100;
		&.open {
			display: block;
		}
		> .mdl-button {
			min-width: 100px;
			margin-right: 20px;
			font-weight: 700;
		}
		&::after {
			content: '';
			position: absolute;
			top: 20px;
			left: -15px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 15px 10px 0;
			border-color: transparent #ffffff transparent transparent;
		}
	}
}

.profile-password-form {
	.mdl-textfield__label {
		color: #666;
	}
}

.profile-info-js-edit {
	cursor: pointer;
}

.profile-password-form {
	input[type='submit'] {
		margin-top: 40px;
		min-width: 100px;
	}
}

.profile-info__edit-mobile.open {
	background-color: transparent;
	> .icon {
		display: none;
	}
	> .profile-info__edit-mobile-action {
		position: absolute;
		top: 7px;
		right: 0;
		width: 155px;
		text-align: right;
		a:first-child {
			margin-right: 20px;
		}
	}
}

.profile-info__edit-mobile-action {
	display: none;
	&.open {
		display: block;
	}
}

@media screen and ( max-width: 930px ) {
	.profile__tabs-control > .mdl-button {
		margin-right: 5px;
		font-size: 12px;
	}
	.profile__follow,
	.profile__middle-reviews {
		font-size: 12px;
	}
	.profile__follow-action,
	.profile__middle-reviews-star {
		font-size: 20px;
	}
	.profile__follow-count,
	.profile__middle-reviews-cout {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.profile-info__edit-mobile {
	display: none;
}

@media screen and ( max-width: 760px ) {
	.page-main {
		padding-top: 0;
	}
	.page-container {
		padding: 0;
	}
	.profile {
		background-color: transparent;
		box-shadow: none;
	}
	.profile__top .mdl-button {
		border: 0 none;
	}
	.profile__upload-img {
		display: none;
	}
	.profile__middle {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		> div {
			width: 100%;
		}

		&-avatar {
			background-color: transparent;
			box-shadow: none;
			text-align: center;
			padding-bottom: 15px;
			> img {
				position: static;
			}
		}
		&-name {
			text-align: center;
		}
		&-info {
			padding-left: 0;
		}
		&-reviews {
			text-align: left;
			&-star {
				display: block;
				font-size: 24px;
				color: $blue;
				padding-bottom: 8px;
			}
			&-cout {
				margin-left: 0;
			}
		}

	}
	.profile__bottom {
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 0;
		box-shadow: none;
		> div {
			width: 100%;
		}
	}
	.profile__tabs-control {
		order: 2;
		position: relative;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		background-color: #fff;
		padding: 0 20px;
		margin-top: 10px;
		&::after {
			content: '';
			width: 35px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
		}
	}
	.profile__follow {
		padding: 0 20px;
	}
	.profile__follow-action {
		font-size: 28px;
	}
	.profile-info {
		margin-top: 20px;
		padding: 20px;
	}
	.profile-info__edit {
		display: none;
	}
	.profile-info__edit-mobile {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #727e88;
		background-color: #ecf1f5;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
	.profile-info__edit-value,
	.profile-info__edit-icon {
		background: none;
		padding-left: 0;
	}
	.profile-info__input-wrap > .text-bold {
		padding-left: 10px;
	}
	.profile-password-form input[type="submit"] {
		margin-top: 15px;
	}
}